* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
.box {
  height: 350px;
  width: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  border: 2px solid rgb(101, 101, 193);
}
.box h3 {
  text-align: center;
  margin-top: 20px;
  font-weight: 40px;
}

h5,
a {
  display: inline-block;
  margin-right: 10px;
}
h5 {
  margin-left: 40px;
  font-weight: 100;
}
.login-link {
  text-decoration: none;
  color: blue;
  font-size: 15px;
}
p label {
  display: block;
  margin-top: 20px;
  margin-left: 10px;
}
input[type="email"] {
  margin-left: 10px;
}
